.cookieConsentContainer {
	z-index: 999;
	width: 45vw;
	min-height: 20px;
	box-sizing: border-box;
	padding: 20px;
	background: #232323;
	overflow: hidden;
	position: fixed;
	bottom: 30px;
	left: 30px;
	display: none;
}

#configCookies {
	z-index: 9999;
	width: 45vw;
	min-height: 20px;
	box-sizing: border-box;
	padding: 20px;
	background: #232323;
	overflow: hidden;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
}

.cookieConsentContainer .cookieTitle a {
	font-family: OpenSans, arial, "sans-serif";
	color: #ffffff;
	font-size: 22px;
	line-height: 20px;
	display: block;
}

.cookieConsentContainer .cookieDesc p, #configCookies p {
	margin: 0;
	padding: 0;
	font-family: OpenSans, arial, "sans-serif";
	color: #ffffff;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
}
.cookieConsentContainer .cookieDesc a {
	font-family: OpenSans, arial, "sans-serif";
	color: #ffffff;
	text-decoration: underline;
}

.cookieConsentContainer .cookieButton a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	margin-top: 14px;
	background: #2081B8;
	box-sizing: border-box;
	padding: 15px 24px;
	text-align: center;
	transition: background 0.2s;
}

.cookieConsentContainer .cookieButton a:hover {
	cursor: pointer;
	background: #4F70B8;
}

@media (max-width: 980px) {
	.cookieConsentContainer, #configCookies {
		bottom: 0px !important;

		left: 0px !important;

		width: 100% !important;
	}
}
